/* CSS Overrides for the GBI ref app  */
/*                                    */
/* Created by Jay Atkinson            */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Global Elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
{
 font-family:'Source Sans Pro', 'Optima', sans-serif;
}

body {
  background:#ededed;
}
section {
  background:#fff;
}

form {
  background: #fff;
  padding: 0.5em;
}

button, input[type=button], input[type=submit] {
  background:#ccc;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  padding: 0.1em 1.5em;
  color: #333;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
  background:#ddd;
  border: solid 2px #ccc;
  border-top: solid 2px #aaa;
  border-left: solid 2px #aaa;

}

input[type=text] {
  font-size:1.1em;
  padding:.2em;
}

input[type=text]:focus {
  background:#ffa;
  border:#770;
  padding:.2em;
}

/* Flex Grid */

.header, section  {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .col {
    flex: 1;
  }
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: .25;
  }
  ._75 {
    flex: .75;
  }
  ._50 {
    flex: .5;
  }
  ._33 {
    flex: .33;
  }
}

@media screen and (max-width: 800px) {
  ._25 {
    flex: 1;
  }
}


/* The Header */


#cookieForm input {
  background:#fdfdfd;
  border: solid 1px #aaa;
  padding: 0.5em 1em;
}

.header section {
  background:inherit;
}

#cookieForm input:focus {
  background:#ffa;
}

#cookieForm {
  background:#ededed;
  color: #777;
}
#cookieForm a {
  display:inline-block;
  font-family: 'Oswald', sans-serif;
  padding: 0.2em 1em;
  background: #ccc;
  border: solid 2px #ddd;
  border-bottom: solid 2px #aaa;
  border-right: solid 2px #aaa;
  border-radius: 15px;
  color:#333;
  text-decoration: none;
  font-size: 1em;
}

#cookieForm a:hover {
  background:#ddd;
  border: solid 2px #ccc;
  border-top: solid 2px #aaa;
  border-left: solid 2px #aaa;
}


/* The Navigation */

.navigation b {
   display: flex;
   padding: 0.5em;
   font-size: 1.4em;
   background-color: #ccc;
   margin-bottom: .5em;
   font-family: 'Oswald', sans-serif;

 }

 .navigation b span{
   flex:1;
   text-align: right;
   font-size:.7em;
   padding-top:.5em;
   color: #777;

 }

.navigation {
  background-color: #fff;
  color:#333;
}

.navigation div>div>div {
    padding: 0.2em;

}

.refinementsHolder {
    max-height: 1000px;
}

.refinementsHolder div>div {
    display:flex;
}

.refinementsHolder a {
    flex:1;
    color: #333 !important;
    font-size: 1.2em;
}
.refinementsHolder a:hover {
    text-decoration:none;
}
.refinementsHolder a::first-letter {
    font-size: 1.9em;
}

.refinementsHolder span.count {
    flex: .25;
    color: #333 !important;
    font-size: 1.2em;
    text-align: right;
}


.moreLink {
  padding: 0.5em;
  font-size : .8em;
  text-align: right;

}

/* Results */

.results form {
  border:none;
  background: #ccc;
  padding: 10px 10px 11px 10px;
}

.deleteCheckbox {
    display:inline-block;
    width:10px;
    height: 10px;
    padding:0 3px 10px 7px;
    border-radius: 15px;
    background-color: #777;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.deleteCheckbox:hover {

    background-color: #aaa;
}

.columnSpecifics {
  display: flex;
  flex-flow: row-reverse wrap;
  background:#ededed;
  border: solid 1px #aaa;
  padding: 0.5em 1em;
  color:#333;

}


.columnControls {
  float:none;
  flex:50%;
  text-align:right;

}

.columnControls a {
  text-transform: capitalize;
  display:inline-block;
  font-family: 'Oswald', sans-serif;
  padding: 0.2em 1em;
  background: #ccc;
  border: solid 2px #ddd;
  border-bottom: solid 2px #aaa;
  border-right: solid 2px #aaa;
  border-radius: 15px;
  color:#333;
  text-decoration: none;
  font-size: 1em;
}

.columnControls a:hover {
  background:#ddd;
  border: solid 2px #ccc;
  border-top: solid 2px #aaa;
  border-left: solid 2px #aaa;
}

.columnSpecifics>a {
  flex: 50%;
  font-family: 'Oswald', sans-serif;

  color:#333;
  text-decoration: none;

}

.columnSpecifics fieldset {
  flex:1;

}

.columnSpecifics a {
  color:#333;
}

.smallResponse {
  color: #777;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}
