/* CSS Overrides for the GBI ref app  */
/*                                    */
/* Created by Jay Atkinson            */

@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Global Elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
{
 font-family:'Roboto', 'Optima', sans-serif;
}

body {
  background:#ededed;
  border-top: 15px solid #004a00;
}
section {
  background:#fff;
}

form {
  padding: 0.8em;
}

a, button, input {
  outline: none;
}

button, input[type=button], input[type=submit] {
  background:#007700;
  font-size: 1.1em;
  padding: 0.8em 1.6em;
  margin: 0.8em;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
  background:#004a00;


}

input[type=text] {
  font-size: 1.1em;
  padding: .2em;
  background:#fdfdfd;
  border:0;
  border-bottom: solid 2px #aaa;
  padding: 0.5em 1em;
}

input[type=text]:focus {
  background:#ffa;
  border:#770;
  padding:.2em;
}

fieldset {

}

/* Flex Grid */

.header {
  background: #007700;
}

.header, section  {
  max-width: 1500px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .col {
    flex: 1;
  }
}

@media screen and (min-width: 800px) {
  ._25 {
    flex: .25;
  }
  ._75 {
    flex: .75;
  }
  ._50 {
    flex: .5;
  }
  ._33 {
    flex: .33;
  }
}

@media screen and (max-width: 800px) {
  ._25 {
    flex: 1;
  }
}


/* The Header */


#cookieForm input {
  background:#fdfdfd;
  border:0;
  border-bottom: solid 2px #aaa;
  padding: 0.5em 1em;
}

.header section {
  background:inherit;
}

#cookieForm input:focus {
  background:#ffa;
  outline: none;
}

#cookieForm {
  background: #e1e1e2; 
  color: #777;
}
#cookieForm a {
  display:inline-block;
  background:#007700;
  padding: 0.8em 1.6em;
  margin: 0.8em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#cookieForm a:hover {
  background:#004a00;

}


/* The Navigation */

.navigation b {
   display: flex;
   font-size: 1.1em;
   background-color: #e1e1e2;
   margin-bottom: .8em;
   padding: .8em .8em .8em 1.4em;
   text-transform: uppercase;

 }

 .navigation b span{
   flex:1;
   text-align: right;
   font-size:.5em;
   padding-top: .5em;
   
   color: #777;

 }

.navigation {
  background-color: #fff;
  color:#333;

}

.navigation div>div>div {
    padding: 0;

}

.refinementsHolder {
    max-height: 1000px;
}

.refinementsHolder div {
    display:flex;
}

.refinementsHolder a {
    flex:2 0 0;
    color: #007700 !important;
    font-size: 1.1em;
    padding: 0.8em 1.6em;
    text-transform:uppercase;
}
.refinementsHolder a:hover {
    text-decoration:none;
    background: #007700;
    color: #fff !important;
}


.refinementsHolder span.count {
    flex: 1;
    color: #808d94 !important;
    font-size: .8em;
    text-align: right;
    vertical-align: middle;
    margin-right: .8em;
}


.moreLink {
  padding: 0.5em;
  font-size : .8em;
  text-align: right;

}



/* Results */

.results form {
  border:none;

  flex-direction: row;
  padding: 0.8em ;
 
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.results form input[type=submit] {
  font-size: .8em;
  border:0;
  margin:0;
}

.results form input[type=text] {
  font-size: .8em;
  border:0;
  border-bottom: 2px solid #004a00;
  padding: .4em .8em;
  margin:0 0.8em;
}

.results form a {
  color: #007700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .7em;
  padding: 0.4em 1.6em;
  display: inline-block;
}

.results form .navLink a {
  background:#007700;
  font-size: 1.3em;
  padding: 0.1em .4em;
  border-radius: 1.6em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.deleteCheckbox {
    display:inline-block;
    width:10px;
    height: 10px;
    padding:0 3px 10px 7px;
    background-color: #777;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.deleteCheckbox:hover {

    background-color: #aaa;
}

.columnSpecifics {
  display: flex;
  flex-flow: row-reverse wrap;
  background:#ededed;
  border: solid 1px #aaa;
  padding: 0.5em 1em;
  color:#333;

}


.columnControls {
  float:none;
  flex:50%;
  text-align:right;

}

.columnControls a {
    color: #007700 !important;
    font-size: 1.1em;
    padding: 0.8em 1.6em;
    text-transform: uppercase;
    text-decoration: none;
}

.columnSpecifics>a {
  flex: 50%;
  color:#333;
  text-decoration: none;

}

.columnSpecifics fieldset {
  flex:1;

}
.columnSpecifics fieldset a {
  color: #007700 !important;
  font-size: 1.1em;
  padding: 0.8em 1.6em;
  text-transform: uppercase;
  text-decoration: none;
}

.columnSpecifics a {
  color:#333;
}

.smallResponse {
  color: #777;
  font-size: 1.2em;
}
